[Unit]
Description=AI Tuning tool Daemon For Bench
After=systemd-sysctl.service network.target dbus.service keentuned.service
Requires=dbus.service polkit.service
Conflicts=cpupower.service

[Service]
ExecStart=/usr/bin/keentune-bench
Type=simple

[Install]
WantedBy=multi-user.target
